.listItem{
    display: flex;
    align-items: center;
    margin: 1.5rem 2rem 0 0;
    padding: 1rem;
    border-radius: 10px;
    list-style: none;
    background-color:#6437d8 ;
    color: white;
}
.listItem input{
    height: 1.4rem;
    width: 1.4rem;
}
.listItem li{
    margin-left: 0.5rem;
    font-size: large;
}
.editBtn{
    padding: 0.5rem 0.7rem;
    margin-left: 1rem;
}
input[type="checkbox"]:checked {
    accent-color: #ff3f81;
}
  